/* :root {
	--margin-width: 0px;
}

@media (max-width: 1600px) {
	:root {
		--article-width: min(var(--max-article-width), calc(100vw - var(--article-padding) * 2 - var(--gap-width) - var(--toc-width) - var(--margin-width)));
		--article-margin-left: max(0px, calc(((100vw + var(--toc-width) - var(--article-width) - var(--gap-width) - var(--margin-width)) / 2)));
	}

	table-of-contents {
		display: initial;
	}
} */

.sticky:has(#fig2) {
	top: 32px;
}

.maug {
	color: blueviolet;
}

.maug {
	display: inline-block;
	cursor: pointer;
}

.maug:hover {
	background: rgba(103, 176, 202, 0.22);
}

.maug-fx { color: blue; }
.maug-fprimex { color: darkblue; }
.maug-fprimeprimex { color: darkslateblue; }
.maug-fxh { color: blue; }
.maug-gx { color: darkgreen; }
.maug-gprimex { color: darkolivegreen; }
.maug-dxh { color: darkblue; }
.maug-alpha { color: palevioletred; }
.maug-beta { color: rebeccapurple; }
.maug-wx { color: darkred; }
.maug-h { color: purple; }
.maug-x { color: red; }
.maug-r { color: orange; }
.maug-n { color: sienna; }
.maug-m { color: sienna; }
.maug-a { color: darkred; }
