table-of-contents ol {
	width: fit-content;
	max-width: 290px;
	margin: 0;
	padding-left: 0;
	list-style: none;
}

table-of-contents li {
	margin: 1ex 0;
	padding-left: 16px;
	border-left: 2px solid #212e6d11;
}

table-of-contents li:hover {
	border-left-width: 4px;;
	padding-left: 14px;
}

table-of-contents a {
	font-weight: inherit;
}