:not(.katex-display) > .katex {
  font-size: var(--inline-math-size) !important;
}

.math-aug-window {
  z-index: 1;
  position: absolute;
  border-bottom: 1px solid black;
  transform: translate(-50px, -40px);
  background: white;
  border-radius: 0 0 4px 4px;
  padding: 0 4px 0 4px;
  filter: drop-shadow(1px 2px 1px rgba(0,0,0,0.2));
}
